
/* Home error styling */
/* @keyframes typing {
  from { width: 0; }
  to { width: 100%; }
} */

@keyframes typing {
  0% { width: 0; }
  10% { width: 10%; }
  20% { width: 20%; }
  30% { width: 30%; }
  40% { width: 40%; }
  50% { width: 50%; }
  60% { width: 60%; }
  100% { width: 100%; }
}

.typing-animation {
  overflow: hidden;
  border-right: 1px solid black; /* You can change the border style as needed */
  white-space: nowrap;
  animation: typing 30s steps(50, end);
}

.homeHeroImage {
  width: 100%;
}

.logo-nav{
  /* styling logo */
  width: 200%;
  height: 50px;
}


/* footer logo */
.footer-logo {
  width: 200%;
  height: 50px;
}